body{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    color: black;
    background-color: aqua;
}

.pokemon-header{
    display: flex;
    justify-content: space-around;
}

#pokemon-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 20rem;
    margin-right: 20rem;
    background-size: 100%;
}

.pokemon-content{
    display: grid;
    justify-content: center;
    
}

.pokemon-characters{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

.pokemon-img{
    width: 15.5rem;
    height:  16.5rem;
}

